# <font color:r> Natural Language Processing

In [1]:
pip install nltk
#natural language toolkit

Requirement already satisfied: nltk in c:\users\seyma\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: click in c:\users\seyma\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\seyma\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\seyma\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: tqdm in c:\users\seyma\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: colorama in c:\users\seyma\anaconda3\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import nltk

In [4]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Seyma\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [5]:
cumle = "Yaylaya gitmişti yayla zamanı, Gülizar döndü de Döndü dönmedi"

In [6]:
cumle.upper()

'YAYLAYA GITMIŞTI YAYLA ZAMANI, GÜLIZAR DÖNDÜ DE DÖNDÜ DÖNMEDI'

In [7]:
cumle.lower()

'yaylaya gitmişti yayla zamanı, gülizar döndü de döndü dönmedi'

In [8]:
x = cumle.split()

In [9]:
cumle.split()[3]

'zamanı,'

In [10]:
x[3]

'zamanı,'

In [11]:
from nltk.tokenize import sent_tokenize

In [12]:
text = "I love python. Zafer lives in a small village. Please call a back."

In [13]:
text.split(".")

['I love python', ' Zafer lives in a small village', ' Please call a back', '']

In [14]:
text.split(".")[2]

' Please call a back'

In [15]:
sent_tokenize(text)

['I love python.', 'Zafer lives in a small village.', 'Please call a back.']

In [16]:
from nltk.tokenize import word_tokenize

In [17]:
word_tokenize(text)

['I',
 'love',
 'python',
 '.',
 'Zafer',
 'lives',
 'in',
 'a',
 'small',
 'village',
 '.',
 'Please',
 'call',
 'a',
 'back',
 '.']

In [18]:
word_tokenize(text)[2]

'python'

In [19]:
from nltk.tokenize import TreebankWordTokenizer

In [20]:
T = TreebankWordTokenizer()

In [21]:
T.tokenize(text)

['I',
 'love',
 'python.',
 'Zafer',
 'lives',
 'in',
 'a',
 'small',
 'village.',
 'Please',
 'call',
 'a',
 'back',
 '.']

In [22]:
T.tokenize(text)[4]

'lives'

In [23]:
#stopwords -  gereksiz kelimeler

In [24]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Seyma\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [25]:
print(nltk.corpus.stopwords.words("english"))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [26]:
print(nltk.corpus.stopwords.words("turkish"))

['acaba', 'ama', 'aslında', 'az', 'bazı', 'belki', 'biri', 'birkaç', 'birşey', 'biz', 'bu', 'çok', 'çünkü', 'da', 'daha', 'de', 'defa', 'diye', 'eğer', 'en', 'gibi', 'hem', 'hep', 'hepsi', 'her', 'hiç', 'için', 'ile', 'ise', 'kez', 'ki', 'kim', 'mı', 'mu', 'mü', 'nasıl', 'ne', 'neden', 'nerde', 'nerede', 'nereye', 'niçin', 'niye', 'o', 'sanki', 'şey', 'siz', 'şu', 'tüm', 've', 'veya', 'ya', 'yani']

In [27]:
from nltk.stem import PorterStemmer

In [28]:
P = PorterStemmer()

In [29]:
P.stem("Happiness")

'happi'

In [30]:
from nltk.stem import LancasterStemmer

In [31]:
L = LancasterStemmer()
#kelimenin kökünü buluyor

In [32]:
L.stem("Happiness")

'happy'

In [33]:
#Markov Chain

In [34]:
from nltk.stem import RegexpStemmer

In [35]:
rs = RegexpStemmer("ing")

In [36]:
rs.stem("working")

'work'

NLP Projesinde 7 Altın Kural
1 - Noktalama işaretlerini kaldır.
2 - Hepsini küçük harfe çevir
3 - Enter veya \n kaldır.
4 - Rakamları kaldır
5 - Tokenize et
6 - Eklerini kaldır, köklerini bul
7 - Stopwords kaldr (gereksiz kelimeler)

In [37]:
from nltk.stem import SnowballStemmer

In [38]:
SnowballStemmer.languages

('arabic',
 'danish',
 'dutch',
 'english',
 'finnish',
 'french',
 'german',
 'hungarian',
 'italian',
 'norwegian',
 'porter',
 'portuguese',
 'romanian',
 'russian',
 'spanish',
 'swedish')

In [39]:
!pip install TurkishStemmer

Requirement already satisfied: TurkishStemmer in c:\users\seyma\anaconda3\lib\site-packages (1.3)

In [40]:
from TurkishStemmer import TurkishStemmer

In [41]:
TurkishStemmer().stem("ayakkabılar")

'ayakkabı'

In [42]:
TurkishStemmer().stem("geliyorum")

'geliyor'

In [43]:
#Part of Speeecg - POS
#isim, fiil, özne, yüklem

In [44]:
from nltk.tokenize import word_tokenize

In [45]:
cumle = "Zafer loves stuffed grape leaves. Artificial Intelligence is cool"

In [46]:
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Seyma\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [47]:
nltk.pos_tag(word_tokenize(cumle))

[('Zafer', 'NNP'),
 ('loves', 'VBZ'),
 ('stuffed', 'JJ'),
 ('grape', 'NN'),
 ('leaves', 'VBZ'),
 ('.', '.'),
 ('Artificial', 'JJ'),
 ('Intelligence', 'NN'),
 ('is', 'VBZ'),
 ('cool', 'JJ')]

In [48]:
from nltk.tag import DefaultTagger

In [49]:
tag = DefaultTagger("He is the man")

In [50]:
tag.tag(["beautiful","morning"])

[('beautiful', 'He is the man'), ('morning', 'He is the man')]

In [51]:
!pip install autocorrect

Requirement already satisfied: autocorrect in c:\users\seyma\anaconda3\lib\site-packages (2.6.1)

In [52]:
from autocorrect import spell

In [53]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\seyma\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\seyma\anaconda3\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\seyma\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2022.3.15)
Requirement already satisfied: tqdm in c:\users\seyma\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.64.0)
Requirement already satisfied: joblib in c:\users\seyma\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: click in c:\users\seyma\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: colorama in c:\users\seyma\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)

In [54]:
from textblob import TextBlob

In [55]:
b = TextBlob("I havv good spelling")

In [56]:
#b.detect_language()

In [57]:
!pip install langdetect

Requirement already satisfied: langdetect in c:\users\seyma\anaconda3\lib\site-packages (1.0.9)
Requirement already satisfied: six in c:\users\seyma\anaconda3\lib\site-packages (from langdetect) (1.16.0)

In [58]:
from langdetect import detect

In [59]:
detect("Ein. zwei, vier")

'de'

In [60]:
detect("Döndü dönmedi")

'tr'

In [61]:
c = "I am a free black man from Africa"

In [62]:
b = TextBlob(c)

In [63]:
b.translate(from_lang = "en",to = "tr")

TextBlob("Afrika'dan özgür bir siyah adamım")

In [64]:
k = "hayat kısa, kuşlar uçuyor"

In [65]:
b = TextBlob(k)

In [66]:
b.translate("tr","hi")

TextBlob("जीवन छोटा है, पक्षी उड़ रहे हैं")

In [67]:
#TF-IDF = term Frequency - Inverse Document Frequency

In [68]:
!pip install google

Requirement already satisfied: google in c:\users\seyma\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: beautifulsoup4 in c:\users\seyma\anaconda3\lib\site-packages (from google) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\seyma\anaconda3\lib\site-packages (from beautifulsoup4->google) (2.3.1)

In [69]:
from googlesearch import search

In [70]:
#for i in search("Zafer Acar Yapay Zeka"):
 #   print (i)

In [71]:
#vectorizer

In [72]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [73]:
cumle = "Call you tonight.","Call me a cab", "Please, call me... PLEASE"

In [74]:
vect = CountVectorizer()

In [75]:
import pandas as pd

In [76]:
tf = pd.DataFrame(vect.fit_transform(cumle).toarray(),columns = vect.get_feature_names())
#bir kelime bir cümlede kaç kere tekrar etti

C:\Users\Seyma\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [77]:
tf

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       2        0    0

In [78]:
vect = CountVectorizer()
df = vect.fit_transform(cumle).toarray().sum(axis=0)
#bir eklime bütün dokümanda kaç kere tekrar etti

In [79]:
df

array([1, 3, 2, 2, 1, 1], dtype=int64)

In [80]:
pd.DataFrame(df.reshape(1,6),columns=vect.get_feature_names())

C:\Users\Seyma\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   cab  call  me  please  tonight  you
0    1     3   2       2        1    1

In [81]:
tf/df
#kelimenin yüzde kaçı hangi cümlede geçmiş

   cab      call   me  please  tonight  you
0  0.0  0.333333  0.0     0.0      1.0  1.0
1  1.0  0.333333  0.5     0.0      0.0  0.0
2  0.0  0.333333  0.5     1.0      0.0  0.0

In [82]:
vect = TfidfVectorizer()

In [83]:
pd.DataFrame(vect.fit_transform(cumle).toarray(),columns=vect.get_feature_names())
#vektörün uzunluğunu hesap ediyor.

C:\Users\Seyma\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

        cab      call        me    please   tonight       you
0  0.000000  0.385372  0.000000  0.000000  0.652491  0.652491
1  0.720333  0.425441  0.547832  0.000000  0.000000  0.000000
2  0.000000  0.266075  0.342620  0.901008  0.000000  0.000000

In [84]:
import pandas as pd

In [85]:
yelp = pd.read_csv("yelp.csv")

In [86]:
yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [87]:
yelp.isnull().sum()

business_id    0
date           0
review_id      0
stars          0
text           0
type           0
user_id        0
cool           0
useful         0
funny          0
dtype: int64

In [88]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  10000 non-null  object
 1   date         10000 non-null  object
 2   review_id    10000 non-null  object
 3   stars        10000 non-null  int64
 4   text         10000 non-null  object
 5   type         10000 non-null  object
 6   user_id      10000 non-null  object
 7   cool         10000 non-null  int64
 8   useful       10000 non-null  int64
 9   funny        10000 non-null  int64
dtypes: int64(4), object(6)
memory usage: 781.4+ KB

In [89]:
yelp["text"] = yelp["text"].str.lower()
#küçük harfe çevrildi

In [90]:
yelp["text"] = yelp["text"].str.replace('[^\w\s]','')
#noktalama işaetleri kaldırıldı

C:\Users\Seyma\AppData\Local\Temp\ipykernel_10076\711001776.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  yelp["text"] = yelp["text"].str.replace('[^\w\s]','')

In [91]:
yelp["text"] = yelp["text"].str.replace('\d+','')
#rakamlar kaldırıldı

C:\Users\Seyma\AppData\Local\Temp\ipykernel_10076\1076447211.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  yelp["text"] = yelp["text"].str.replace('\d+','')

In [92]:
yelp["text"] = yelp["text"].str.replace('\n',' ').replace('\r',' ')
#enter ve new line kaldırıldı

In [93]:
yelp_ei_ek=yelp[(yelp.stars==5) | (yelp.stars==1)]
#en iyi en kötü

In [161]:
yelp_ei_ek.reset_index(drop=True, inplace=True)
#indexler düzenlendi

In [95]:
yelp_ei_ek

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,my wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,i have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,rosie dakota and i love chaparral dog park its...,review,uZetl9T0NcROGOyFfughhg,1,2,0
3,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,general manager scott petello is a good egg no...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
4,zp713qNhx8d9KCJJnrw1xA,2010-02-12,riFQ3vxNpP4rWLk_CSri2A,5,drop what youre doing and drive here after i a...,review,wFweIWhv2fREZV_dYkz_1g,7,7,4
...,...,...,...,...,...,...,...,...,...,...
4081,R8VwdLyvsp9iybNqRvm94g,2011-10-03,pcEeHdAJPoFNF23es0kKWg,5,yes i do rock the hipster joints i dig this p...,review,b92Y3tyWTQQZ5FLifex62Q,1,1,1
4082,WJ5mq4EiWYAA4Vif0xDfdg,2011-12-05,EuHX-39FR7tyyG1ElvN1Jw,5,only stars a few notes the folks that rated...,review,hTau-iNZFwoNsPCaiIUTEA,1,1,0
4083,f96lWMIAUhYIYy9gOktivQ,2009-03-10,YF17z7HWlMj6aezZc-pVEw,5,im not normally one to jump at reviewing a cha...,review,W_QXYA7A0IhMrvbckz7eVg,2,3,2
4084,L3BSpFvxcNf3T_teitgt6A,2012-03-19,0nxb1gIGFgk3WbC5zwhKZg,5,lets seewhat is there not to like about surpri...,review,OzOZv-Knlw3oz9K5Kh5S6A,1,2,1
4085,pF7uRzygyZsltbmVpjIyvw,2010-10-16,vWSmOhg2ID1MNZHaWapGbA,5,locations all star average i think arizona r...,review,KSBFytcdjPKZgXKQnYQdkA,0,0,0

In [96]:
x = yelp_ei_ek.text
y = yelp_ei_ek.stars

In [97]:
from sklearn.model_selection import train_test_split

In [145]:
print(x)

0       my wife took me here on my birthday for breakf...
1       i have no idea why some people give bad review...
2       rosie dakota and i love chaparral dog park its...
3       general manager scott petello is a good egg no...
4       drop what youre doing and drive here after i a...
                              ...
4081    yes i do rock the hipster joints  i dig this p...
4082    only  stars   a few notes the folks that rated...
4083    im not normally one to jump at reviewing a cha...
4084    lets seewhat is there not to like about surpri...
4085     locations all  star average i think arizona r...
Name: text, Length: 4086, dtype: object

In [146]:
vect = CountVectorizer(lowercase=True, stop_words="english")
x_yeni = vect.fit_transform(x)

In [147]:
x_train,x_test,y_train,y_test = train_test_split(x_yeni,y,random_state=42)

In [148]:
print(x_train)
#sparse matrix

  (0, 6315)	1
  (0, 518)	1
  (0, 16366)	1
  (0, 13858)	1
  (0, 20652)	1
  (0, 10923)	1
  (0, 19871)	1
  (0, 14941)	1
  (0, 10844)	1
  (0, 16376)	1
  (0, 11444)	1
  (0, 1778)	1
  (0, 5814)	1
  (0, 20686)	1
  (0, 957)	1
  (0, 10897)	1
  (0, 8038)	1
  (0, 17756)	1
  (0, 16591)	1
  (0, 7917)	1
  (0, 9231)	1
  (0, 12355)	1
  (0, 2106)	1
  (0, 17734)	1
  (0, 10932)	1
  :	:
  (3062, 6068)	1
  (3062, 20439)	1
  (3062, 5726)	1
  (3062, 12567)	1
  (3063, 13877)	1
  (3063, 1652)	1
  (3063, 9768)	1
  (3063, 4909)	1
  (3063, 8007)	2
  (3063, 17500)	1
  (3063, 12325)	1
  (3063, 15392)	1
  (3063, 17572)	1
  (3063, 3112)	1
  (3063, 2135)	1
  (3063, 7335)	1
  (3063, 9205)	1
  (3063, 8576)	1
  (3063, 1980)	1
  (3063, 15496)	1
  (3063, 19791)	1
  (3063, 3133)	1
  (3063, 16758)	1
  (3063, 11028)	1
  (3063, 11291)	1

In [149]:
x[0]

'my wife took me here on my birthday for breakfast and it was excellent  the weather was perfect which made sitting outside overlooking their grounds an absolute pleasure  our waitress was excellent and our food arrived quickly on the semibusy saturday morning  it looked like the place fills up pretty quickly so the earlier you get here the better  do yourself a favor and get their bloody mary  it was phenomenal and simply the best ive ever had  im pretty sure they only use ingredients from their garden and blend them fresh when you order it  it was amazing  while everything on the menu looks excellent i had the white truffle scrambled eggs vegetable skillet and it was tasty and delicious  it came with  pieces of their griddled bread with was amazing and it absolutely made the meal complete  it was the best toast ive ever had  anyway i cant wait to go back'

In [ ]:
#Gmnderilen bir yorumun iyi/ kötü olduğunu tahmin etme

In [150]:
from sklearn.naive_bayes import MultinomialNB
#Classification
#1 yıldız mı 5 yıldı zmı verdi

In [151]:
MB = MultinomialNB()

In [152]:
MB.fit(x_train,y_train)

MultinomialNB()

In [153]:
from sklearn.metrics import accuracy_score

In [154]:
tahmin = MB.predict(x_test)

In [155]:
accuracy_score(y_test,tahmin)
#stopwordsu kaldırmadan denediğimizde başarı oranı değişmedi

0.9041095890410958

In [156]:
from sklearn.tree import DecisionTreeClassifier

In [157]:
D = DecisionTreeClassifier()

In [158]:
D.fit(x_train,y_train)

DecisionTreeClassifier()

In [159]:
tahmin1 = D.predict(x_test)

In [160]:
accuracy_score(y_test,tahmin1)

0.8542074363992173